.choosedesign{
    opacity:0.3;
}

.draw{
    width: 55%;
    height:350px;
    position: relative;
    bottom:60px;
    background-color:rgb(154, 154, 154);
    margin-left: 250px;
    border-radius: 20px;
}

.drawcentered1{
    margin-left: 40px;
}

.drawcentered{
    position: absolute;
    left: 290px;
    bottom:80px;
}

.centered{
    position: absolute;
    border: 2px solid orangered;
    width: 50%;
    height: 80px;
    left: 200px;
    border-radius: 7px;
}

.centered img{
    margin-left: 30px;
    margin-top: 7px;
    
}

.centered p{
    position: absolute;
    top:20px;
    left: 190px;

}

.centered2{
    position: absolute;
    width: 50%;
    height: 50px;
    left: 200px;
    bottom:130px;
    border-radius: 7px;
}

.centered2 p{
    position: absolute;
    top:19px;
    left: 10px;
}

.centered2 input{
    position: absolute;
    left: 90px;
    top:20px;
    border:2px solid orangered;
}



.centered2 input:hover{
    
    border:2px solid orangered;
}

.apart{
   display: flex;
   gap:30px;
   margin-left: 250px;
   position: absolute;
   bottom:40px;
}