.signup{
    padding-top: 350px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

h3{
    color: #fff;
    font-weight: 800;
}

.signup p{
    width:500px;
    color: #fff;
    opacity: 0.9;
    font-weight: 400;
    font-size: 16px;
}
.createButton{
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    margin-left: 0px;
    background-color:rgb(233, 64, 13);
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

}


@media (max-width: 600px) {
    /* CSS styles for small screens go here */
    .all{
      position: relative;
      right:135px;
    }
    .logo{
        padding-left:-23px;

    }
    h3{
        padding-left:1px;
    }
}