
form{
    position: relative;
}
.arrange{
    display:flex;
    flex-direction:column;
    position: absolute;
    top:300px;
    left: 120px;

}



input {
    padding: 0.5rem;
    color: black;
    margin-bottom: 1rem;
    width:300px;
}

.loginButton{
    padding: 0.5rem;
    width:320px;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    margin-left: 0px;
    background-color:rgb(233, 64, 13);
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

}

.linky{
    color: #fff;
    text-decoration: none;

}

.passwordlink{
    margin-top:450px;
    margin-left:120px;
    display:flex;
    flex-direction: row;
    gap:38px;
}

.link2{
    color:black;
    text-decoration: none;
    cursor: pointer;

}

.link1{
    color:black;
    text-decoration: none;
    
}

@media (max-width: 600px) {
    /* CSS styles for small screens go here */
 
    .entry{
        position: relative;
        left: -35px;
    }
    .loginall{
        position: relative;
        left:14px;
    }

    input {
        padding: 0.5rem;
        color: black;
        margin-bottom: 1rem;
        margin-left: 9px;
        width:15em;
    }
    .loginButton{
        margin-left: 8px;
        width:14em;
        padding-left: 6px;
        font-size: 16px;
        cursor: pointer;
    
    }
    
  }
