body {
    font-family: 'Poppins', sans-serif;
}
.navContainer {
    padding: 20px;
    background-color: #EC632B;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.navContainer > div:nth-child(2) > p {
    font-size: 18px;
    color: white;
}
.navContainer > div:first-child {
    padding-top: 5px;
}
