

.designbuttons button{
    color:orangered;
    width:100px;
    height:30px;
    border:2px solid orangered;
    cursor:pointer;
    
}

.designbuttons button:active{
    background-color: rgb(233, 64, 13);
}

.recenttransaction4 {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 200px;
    width: 400px;
    margin-bottom: 30px;
}
.recenttransaction3{
margin-left: 200px;

}
.recenttransaction6 {
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.recenttransaction6 > img {
    margin-right: 20px;
}

.recenttransaction4 h4{
    opacity:0.6;
    padding-top:14px;
}
.designbuttons {
    margin-left: 40px;
}