.top-date {
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-date > span {
    margin-left: 40px;
    margin-right: 40px;
}
.content {
    padding-top: 30px;
}
.filter {
    margin-left: 60px;
}