.signup{
    padding-top: 350px;
    padding-left:150px;

}

h3{
    color: #fff;
    padding-left: 30px;
    font-weight: 800;
}

h4{
    width:400px;
    color: #fff;
    padding-left: 1px;
    opacity: 0.9;
}


@media (max-width: 600px) {
    /* CSS styles for small screens go here */
    .all{
      position: relative;
      right:135px;
    }
    .logo{
        padding-left:-23px;

    }
    h3{
        padding-left:1px;
    }
}