*{
  margin:0;
  padding:0;
 }

 .login{
    display:flex;
    justify-content: space-between;

 }
 .login1{
    background-color:rgb(233, 64, 13);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 300px;
  }
  
  button:hover {
    background-color:rgb(233, 64, 13);
  }
  
  button:focus {
    outline: none;
  }
  
  button:active {
    background-color: rgb(233, 64, 13);
  }

  @media (max-width: 600px) {
    /* CSS styles for small screens go here */
    .home{
      position: relative;
      right:135px;
    }
  }

