.button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  padding: 0px;
  margin-left:5px;
  width: 30px;
}

span {
  background-color: white;
  display: block;
  height: 3px;
  transition: transform 0.3s ease-out;
  width: 100%;
}

span:first-child {
  transform-origin: top left;
}

span:last-child {
  transform-origin: bottom left;
}

nav {
  background-color: rgb(233, 64, 13);
  padding: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}
